<a href="https://colab.research.google.com/github/namannj45/ojt_python/blob/main/pandas_case_study1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Customers.csv', encoding='unicode_escape')
df.head()

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed
0,129609144,M,20130130,West,Gujarat,Surat,20130216,West,Gujarat,Surat,2032.0,2,200.0,0.0
1,129627580,M,20130129,North,Delhi,Delhi,20130129,North,Delhi,Delhi,1709.0,1,100.0,0.0
2,130363481,M,20130221,West,Gujarat,Surat,20130221,West,Gujarat,Surat,523.0,1,10.0,0.0
3,49817480,M,20130222,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,5132.0,1,170.0,0.0
4,126343829,F,20130301,North,Delhi,Delhi,20130301,North,Delhi,Delhi,1008.0,1,60.0,0.0

In [ ]:
df.shape

(10000, 14)

In [ ]:
df.index

RangeIndex(start=0, stop=10000, step=1)

In [ ]:
df.columns

Index(['Customer_ID', 'Gender', 'First_Date', 'First_region', 'First_state',
       'First_city', 'Recent_Date', 'Last_region', 'Last_state', 'Last_city',
       'Customer_Value', 'Buy_Times', 'Points_Earned', 'Points_Redeemed'],
      dtype='object')

In [ ]:
df.dtypes.ndim

1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Customer_ID      10000 non-null  int64
 1   Gender           9986 non-null   object
 2   First_Date       10000 non-null  int64
 3   First_region     9979 non-null   object
 4   First_state      9983 non-null   object
 5   First_city       10000 non-null  object
 6   Recent_Date      10000 non-null  int64
 7   Last_region      10000 non-null  object
 8   Last_state       10000 non-null  object
 9   Last_city        10000 non-null  object
 10  Customer_Value   9964 non-null   float64
 11  Buy_Times        10000 non-null  int64
 12  Points_Earned    9979 non-null   float64
 13  Points_Redeemed  9988 non-null   float64
dtypes: float64(3), int64(4), object(7)
memory usage: 1.1+ MB

In [ ]:
df['Customer_Value'].isnull().sum()/100

0.36

In [ ]:
df[df['Customer_Value']>10000]

,Customer_ID,Gender,First_Date,First_region,First_state,First_city,Recent_Date,Last_region,Last_state,Last_city,Customer_Value,Buy_Times,Points_Earned,Points_Redeemed
14,1610085,F,20120103,North,Delhi,Delhi,20121013,North,Delhi,Delhi,10380.199,6,1189.0,0.0
15,7518872,M,20120104,North,Uttar Pradesh,Kanpur,20130123,North,Uttar Pradesh,Kanpur,14587.000,6,865.0,0.0
18,63508964,M,20120106,West,Maharashtra,Pimpri-Chinchwad,20130222,West,Maharashtra,Pimpri-Chinchwad,145472.702,36,680.0,16635.0
19,23667984,F,20120107,West,Maharashtra,Nagpur,20130313,West,Maharashtra,Nagpur,19640.700,12,268.0,2549.0
20,84634600,M,20120108,South,Karnataka,Bangalore,20130307,South,Karnataka,Bangalore,32377.602,22,1029.0,1771.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9984,85012902,M,20120201,West,Gujarat,Surat,20130310,West,Gujarat,Surat,30123.300,9,1555.0,0.0
9985,14762484,M,20120131,North,Madhya Pradesh,Indore,20121211,North,Madhya Pradesh,Bhopal,88407.500,23,4317.0,0.0
9995,50093138,M,20120208,North,Uttar Pradesh,Agra,20121114,North,Uttar Pradesh,Agra,13818.600,7,1195.0,1800.0
9996,92763145,M,20120209,South,Telangana,Hyderabad,20130319,South,Telangana,Hyderabad,13016.500,7,870.0,0.0
9997,73839417,M,20120210,South,Karnataka,Bangalore,20130216,South,Karnataka,Bangalore,44057.900,11,2242.0,585.0

In [ ]:
customer_value_segment=[]
for i in range(len(df)):
    if df.Customer_Value[i]>25000:
        customer_value_segment.append('High')
    elif df.Customer_Value[i]<=10000:
        customer_value_segment.append('Low')
    else:
        customer_value_segment.append('Medium')
df['Customer_Value_Segment']=customer_value_segment
df.columns

Index(['Customer_ID', 'Gender', 'First_Date', 'First_region', 'First_state',
       'First_city', 'Recent_Date', 'Last_region', 'Last_state', 'Last_city',
       'Customer_Value', 'Buy_Times', 'Points_Earned', 'Points_Redeemed',
       'Customer_Value_Segment'],
      dtype='object')

In [ ]:
df['Avg_Revenue_per_trip']=df['Customer_Value']/df['Buy_Times']
df['Balance_points']=df['Points_Earned']-df['Points_Redeemed']
df.columns

Index(['Customer_ID', 'Gender', 'First_Date', 'First_region', 'First_state',
       'First_city', 'Recent_Date', 'Last_region', 'Last_state', 'Last_city',
       'Customer_Value', 'Buy_Times', 'Points_Earned', 'Points_Redeemed',
       'Customer_Value_Segment', 'Avg_Revenue_per_trip', 'Balance_points'],
      dtype='object')

In [4]:
from datetime import date

today = date.today()
print(f"Today's date:::{today}")
cust_hist={}
for i in range(len(df)):
    dt=str(df.Recent_Date[i])
    x=date(int(dt[:4]), int(dt[4:6]), int(dt[6:]))-today
    c=df.Customer_ID[i]
    cust_hist[c]=x.days*-1
cust_hist

Today's date:::2022-03-08

{129609144: 3307,
 129627580: 3325,
 130363481: 3302,
 49817480: 3301,
 126343829: 3294,
 8223758: 3281,
 131816709: 3277,
 118543320: 3274,
 131365512: 3264,
 758571: 3270,
 85489184: 3719,
 85438231: 3404,
 74053888: 3281,
 7256956: 3389,
 1610085: 3433,
 7518872: 3331,
 8638553: 3717,
 85438392: 3311,
 63508964: 3301,
 23667984: 3282,
 84634600: 3288,
 85207999: 3356,
 86066230: 3709,
 6888521: 3375,
 87030390: 3293,
 85645488: 3709,
 12935950: 3545,
 10954886: 3336,
 84437746: 3301,
 7514232: 3346,
 328670: 3293,
 237645: 3277,
 36292837: 3282,
 8101280: 3338,
 72185252: 3654,
 73792250: 3290,
 91024647: 3544,
 73957360: 3289,
 8068420: 3299,
 3021033: 3305,
 5912830: 3277,
 91311508: 3683,
 9046409: 3268,
 93630: 3321,
 85323066: 3321,
 303753: 3274,
 49886011: 3581,
 84435316: 3266,
 92835926: 3678,
 58188925: 3428,
 85613515: 3283,
 113434554: 3671,
 85589488: 3665,
 55802349: 3298,
 84874275: 3273,
 6898330: 3287,
 6192202: 3441,
 113932157: 3322,
 1747708: 3271,
 2780625: 3330,
 8346775: 3277,
 42389150: 3655,
 114135637: 3383,
 114861255: 3357,
 5601084: 3530,
 85618136: 3271,
 8736991: 3373,
 115157510: 3504,
 779024: 3281,
 10103730: 3302,
 85452163: 3470,
 115283968: 3267,
 50370603: 3336,
 115750273: 3272,
 115780403: 3332,
 115496820: 3268,
 116005466: 3608,
 42042549: 3462,
 74230259: 3281,
 116266798: 3599,
 42473567: 3595,
 116460389: 3489,
 116524374: 3302,
 116497775: 3531,
 63500201: 3392,
 116746846: 3372,
 116767113: 3584,
 73122241: 3583,
 114099536: 3390,
 116881025: 3281,
 117082270: 3571,
 130047: 3569,
 117246185: 3565,
 50219802: 3268,
 7305524: 3551,
 117178123: 3543,
 117523262: 3543,
 5151002: 3291,
 116651679: 3554,
 117598509: 3347,
 117729782: 3549,
 117777852: 3321,
 117957607: 3309,
 118041792: 3264,
 118107567: 3537,
 118293911: 3534,
 117739560: 3482,
 168347: 3270,
 118625903: 3528,
 118470715: 3525,
 117695374: 3525,
 118872758: 3524,
 119042191: 3520,
 73811307: 3514,
 119372319: 3513,
 119624622: 3507,
 119796345: 3494,
 92837996: 3327,
 14866915: 3495,
 42217507: 3359,
 118468375: 3498,
 120148706: 3299,
 118493131: 3492,
 7886746: 3287,
 63786076: 3485,
 120898657: 3479,
 120977003: 3283,
 8460791: 3272,
 568655: 3302,
 121611365: 3300,
 116082491: 3462,
 119932341: 3269,
 10904164: 3400,
 119264975: 3452,
 5892609: 3415,
 5610276: 3376,
 122495192: 3268,
 122581413: 3404,
 122836302: 3438,
 122922981: 3316,
 123054796: 3434,
 63595881: 3433,
 123401041: 3427,
 88017952: 3289,
 123851052: 3280,
 49824580: 3301,
 123513037: 3274,
 124452278: 3406,
 124618375: 3403,
 124804413: 3267,
 124801120: 3280,
 125244858: 3394,
 125594390: 3388,
 115369420: 3385,
 126003534: 3381,
 126128611: 3371,
 118741971: 3378,
 126700282: 3374,
 126790838: 3372,
 126930113: 3372,
 126980807: 3370,
 74182929: 3368,
 114712561: 3367,
 127197260: 3267,
 127197353: 3367,
 116350234: 3268,
 127823426: 3265,
 127915278: 3306,
 128099479: 3356,
 128982709: 3335,
 129196221: 3332,
 129567969: 3326,
 129749858: 3323,
 114925532: 3271,
 1607037: 3290,
 127161786: 3267,
 130502697: 3299,
 9134774: 3280,
 114637476: 3287,
 130603391: 3265,
 130601114: 3296,
 50075072: 3296,
 58195820: 3287,
 5970072: 3287,
 131364624: 3284,
 131498460: 3283,
 131672985: 3267,
 12638358: 3271,
 132038370: 3268,
 125529439: 3267,
 132305370: 3268,
 132302879: 3268,
 132456295: 3265,
 50354197: 3288,
 85393261: 3327,
 447949: 3278,
 85566519: 3717,
 9176795: 3273,
 84279123: 3270,
 65529409: 3306,
 50083707: 3280,
 8397110: 3268,
 86059740: 3299,
 72303583: 3534,
 86010913: 3710,
 7566831: 3281,
 63788247: 3366,
 9500045: 3303,
 5099393: 3341,
 88052493: 3390,
 10121652: 3294,
 480848: 3509,
 12617541: 3452,
 9364546: 3368,
 72645347: 3701,
 6635095: 3302,
 87032325: 3689,
 1928337: 3283,
 794451: 3303,
 85435342: 3307,
 35922025: 3590,
 69862541: 3483,
 6425982: 3687,
 85615840: 3652,
 9039363: 3394,
 91313329: 3682,
 668690: 3370,
 66386909: 3679,
 74117158: 3284,
 14839806: 3437,
 113937879: 3662,
 6851776: 3656,
 74062770: 3266,
 114552989: 3594,
 50065279: 3295,
 2679949: 3593,
 114637791: 3639,
 58187785: 3323,
 7248775: 3617,
 92750741: 3607,
 115208634: 3511,
 823833: 3274,
 63657401: 3631,
 115434449: 3271,
 7885583: 3268,
 63660968: 3604,
 63662061: 3608,
 115173757: 3280,
 115416042: 3617,
 759085: 3327,
 115857532: 3335,
 5775197: 3300,
 115641000: 3604,
 113790514: 3356,
 84437996: 3600,
 116516231: 3414,
 116853781: 3275,
 63595108: 3335,
 117014845: 3538,
 116820148: 3562,
 117256988: 3535,
 14769867: 3344,
 63731603: 3487,
 74180995: 3440,
 117625207: 3302,
 117630377: 3418,
 6191878: 3509,
 117668626: 3474,
 117682160: 3340,
 63715756: 3414,
 6000814: 3362,
 2223091: 3535,
 118389977: 3532,
 118354493: 3531,
 7982309: 3471,
 118568962: 3273,
 118756138: 3526,
 118761297: 3483,
 118853289: 3524,
 59402335: 3517,
 119120433: 3498,
 8162054: 3291,
 119475102: 3509,
 5922607: 3291,
 119855641: 3303,
 73924925: 3404,
 120142568: 3336,
 115538576: 3325,
 120342844: 3492,
 44902843: 3489,
 5105670: 3340,
 120658116: 3484,
 119218223: 3401,
 120575956: 3373,
 115870054: 3329,
 121102512: 3316,
 121325621: 3278,
 121277337: 3459,
 19692110: 3464,
 758785: 3272,
 119855402: 3287,
 7022521: 3440,
 122820545: 3437,
 74010838: 3436,
 122912260: 3385,
 121513104: 3409,
 5928040: 3296,
 122699848: 3428,
 119225242: 3428,
 123422616: 3425,
 6646782: 3367,
 123747259: 3303,
 123817630: 3419,
 123941562: 3416,
 123998174: 3300,
 119536635: 3412,
 124204565: 3361,
 124860083: 3400,
 124880191: 3400,
 124736462: 3399,
 44914291: 3267,
 121732502: 3281,
 125207010: 3395,
 123168201: 3391,
 125671888: 3387,
 116946292: 3381,
 118651757: 3360,
 125819795: 3300,
 126305203: 3376,
 126308380: 3376,
 126822645: 3269,
 126751488: 3371,
 126778507: 3264,
 123886308: 3368,
 11901603: 3367,
 5193292: 3367,
 42418888: 3265,
 127452873: 3364,
 114100578: 3266,
 127558757: 3318,
 127653576: 3361,
 127767685: 3340,
 128192224: 3293,
 122657554: 3323,
 126147999: 3346,
 128516972: 3336,
 128732535: 3342,
 127047014: 3342,
 128168128: 3304,
 129013714: 3337,
 129150082: 3334,
 129178519: 3317,
 129222417: 3332,
 129676340: 3322,
 129758616: 3321,
 116217011: 3294,
 127151587: 3294,
 130716535: 3264,
 62055284: 3270,
 131022329: 3273,
 131453257: 3283,
 131559512: 3281,
 131666669: 3276,
 36991986: 3270,
 131995159: 3274,
 131933714: 3274,
 132137525: 3268,
 129326242: 3267,
 128852857: 3264,
 85473185: 3273,
 10148854: 3273,
 827626: 3296,
 44855742: 3304,
 5998550: 3283,
 85587076: 3716,
 11955327: 3654,
 12651825: 3276,
 23812064: 3641,
 85457040: 3531,
 85230771: 3394,
 63612253: 3297,
 1701730: 3551,
 86100610: 3708,
 6376497: 3271,
 86086342: 3707,
 86062186: 3664,
 7640569: 3342,
 6714999: 3705,
 88076869: 3320,
 49914733: 3274,
 88056353: 3700,
 70010193: 3700,
 14636352: 3348,
 429065: 3297,
 64199: 3689,
 8629322: 3289,
 5746618: 3278,
 1674009: 3362,
 12582323: 3340,
 8846649: 3277,
 2117651: 3305,
 69869918: 3681,
 9236480: 3303,
 66966231: 3665,
 106851665: 3676,
 8999436: 3492,
 113288282: 3630,
 23660935: 3301,
 88087260: 3670,
 84290014: 3670,
 113513001: 3451,
 85048221: 3306,
 92833080: 3421,
 267886: 3286,
 35864192: 3563,
 114448551: 3347,
 36170958: 3522,
 114467556: 3511,
 42453111: 3270,
 114710336: 3277,
 114977843: 3642,
 50407324: 3430,
 114664461: 3363,
 115129023: 3371,
 114187104: 3630,
 114126285: 3345,
 115436882: 3628,
 7556763: 3389,
 114306819: 3281,
 115396790: 3544,
 23667184: 3608,
 84844386: 3319,
 55813427: 3295,
 10156471: 3588,
 31824480: 3303,
 116981267: 3409,
 50240656: 3292,
 63425977: 3571,
 671508: 3571,
 117114762: 3271,
 114500245: 3499,
 117243376: 3566,
 117248713: 3567,
 117436407: 3448,
 117509331: 3522,
 35923236: 3289,
 49836381: 3532,
 118001064: 3520,
 42418799: 3369,
 117430063: 3512,
 113224237: 3533,
 12621023: 3529,
 5741429: 3431,
 118693477: 3527,
 119166300: 3518,
 119490954: 3268,
 6107488: 3400,
 119708347: 3290,
 119786415: 3504,
 120165447: 3496,
 119892443: 3270,
 120283376: 3493,
 120631292: 3485,
 120677875: 3321,
 74105654: 3437,
 42489053: 3298,
 121564024: 3463,
 63753048: 3465,
 120055129: 3360,
 50065911: 3455,
 122076426: 3304,
 122277355: 3451,
 122348199: 3344,
 122537088: 3446,
 122681484: 3430,
 122888180: 3391,
 123201160: 3431,
 123247654: 3430,
 123243456: 3429,
 63417622: 3365,
 5866747: 3423,
 123632228: 3287,
 123840427: 3418,
 116278802: 3417,
 124013064: 3415,
 44885129: 3413,
 84563725: 3279,
 124421065: 3278,
 124513676: 3406,
 124494722: 3405,
 124571749: 3405,
 124776319: 3403,
 118596043: 3401,
 125074313: 3398,
 125085327: 3278,
 125557283: 3389,
 126036659: 3381,
 125910511: 3265,
 126802993: 3372,
 6922761: 3370,
 126766960: 3284,
 127189856: 3359,
 8234760: 3364,
 127223821: 3357,
 122678930: 3360,
 127424893: 3323,
 122926421: 3271,
 128249908: 3352,
 123202659: 3345,
 128503867: 3280,
 118443004: 3341,
 128607416: 3339,
 128997317: 3294,
 5873567: 3335,
 116880639: 3335,
 129107075: 3334,
 128873751: 3267,
 129351767: 3329,
 1999451: 3305,
 128940253: 3324,
 130039429: 3313,
 38867635: 3306,
 130251918: 3304,
 50065234: 3275,
 130416577: 3301,
 130656507: 3295,
 50653780: 3290,
 6499226: 3290,
 123178324: 3281,
 131617685: 3281,
 129992668: 3277,
 131030910: 3277,
 131906556: 3275,
 123686181: 3275,
 132133580: 3271,
 132197248: 3270,
 84851003: 3632,
 73776523: 3264,
 35931417: 3273,
 63588491: 3299,
 771580: 3272,
 7401332: 3273,
 63754548: 3277,
 8316708: 3265,
 49816428: 3272,
 11854697: 3617,
 86060048: 3268,
 86086596: 3710,
 7835997: 3400,
 86066243: 3709,
 6234730: 3273,
 86058223: 3709,
 35942361: 3401,
 8311983: 3272,
 7616325: 3356,
 91102696: 3312,
 41023726: 3688,
 91145798: 3688,
 91084923: 3688,
 91157161: 3664,
 73962402: 3350,
 91092301: 3687,
 69411953: 3685,
 12548042: 3296,
 7078993: 3683,
 23800082: 3347,
 69032443: 3647,
 92909995: 3279,
 91084417: 3296,
 8633562: 3287,
 5139225: 3639,
 424998: 3325,
 113644288: 3668,
 7219153: 3279,
 63906817: 3295,
 113597928: 3330,
 8594527: 3392,
 8222714: 3267,
 113964729: 3514,
 770485: 3307,
 6731469: 3323,
 114363737: 3646,
 91293480: 3287,
 113981840: 3651,
 44901980: 3649,
 114585470: 3644,
 58322734: 3310,
 114943253: 3322,
 115185482: 3617,
 115184126: 3393,
 73825954: 3630,
 10908150: 3289,
 63659074: 3604,
 115446839: 3454,
 14754531: 3298,
 6321053: 3285,
 85162172: 3578,
 113711453: 3268,
 114250247: 3278,
 115683169: 3619,
 113270985: 3280,
 116005997: 3608,
 115923146: 3600,
 116078289: 3606,
 44882510: 3603,
 12644767: 3311,
 115677929: 3286,
 116599188: 3325,
 5049467: 3587,
 7647485: 3458,
 85205509: 3289,
 1632947: 3267,
 115495048: 3575,
 116991992: 3433,
 117012990: 3517,
 117265906: 3388,
 116429442: 3277,
 117589619: 3292,
 117348181: 3426,
 118277287: 3301,
 118602021: 3528,
 6254859: 3283,
 5583754: 3298,
 119000566: 3521,
 119142732: 3500,
 11912979: 3265,
 55794548: 3284,
 119291275: 3515,
 738042: 3513,
 9631964: 3295,
 119735473: 3496,
 84505221: 3503,
 120010980: 3402,
 120303401: 3488,
 116956124: 3311,
 85216679: 3488,
 120429171: 3434,
 120675610: 3484,
 120743446: 3264,
 50331798: 3288,
 121369255: 3469,
 115876704: 3284,
 50340375: 3458,
 121876261: 3373,
 122036536: 3400,
 122338906: 3450,
 122350113: 3280,
 122333546: 3450,
 42400659: 3301,
 10070567: 3269,
 123806932: 3332,
 123874169: 3404,
 124051183: 3284,
 124132428: 3412,
 124369528: 3358,
 124627195: 3404,
 119328364: 3276,
 124811584: 3402,
 121602633: 3271,
 125040402: 3265,
 125333102: 3282,
 116277111: 3367,
 125589054: 3299,
 125624551: 3305,
 125670985: 3387,
 125740799: 3386,
 8256834: 3273,
 8300400: 3375,
 126373873: 3374,
 127052924: 3369,
 127226607: 3367,
 127311088: 3365,
 125739298: 3360,
 128418297: 3300,
 128500721: 3347,
 128585010: 3343,
 9527413: 3283,
 127924786: 3343,
 6666122: 3339,
 128859515: 3290,
 128985052: 3337,
 129418237: 3328,
 6064425: 3280,
 840220: 3326,
 128862749: 3322,
 129692322: 3324,
 130281373: 3303,
 130657408: 3295,
 131729448: 3267,
 44872815: 3276,
 132101469: 3272,
 116076194: 3267,
 31707: 3264,
 85493088: 3719,
 8329230: 3287,
 85453034: 3719,
 9303512: 3284,
 63909886: 3719,
 5420936: 3272,
 5742858: 3265,
 85568373: 3717,
 1709194: 3293,
 1887109: 3268,
 84739501: 3268,
 50012785: 3341,
 85637545: 3713,
 790589: 3264,
 845431: 3499,
 84893493: 3279,
 373251: 3328,
 85595908: 3710,
 87977937: 3519,
 35928017: 3690,
 86082222: 3704,
 55797515: 3276,
 499172: 3490,
 54119443: 3686,
 5677783: 3266,
 8883034: 3287,
 91097845: 3688,
 85098796: 3297,
 42398793: 3296,
 91266810: 3670,
 6971062: 3677,
 91162607: 3439,
 12594484: 3297,
 6322827: 3275,
 14829186: 3658,
 6747603: 3409,
 31826843: 3276,
 6433161: 3269,
 84973134: 3668,
 113656833: 3551,
 6842510: 3654,
 113680258: 3280,
 113811490: 3665,
 55722414: 3659,
 114005486: 3661,
 11856028: 3416,
 6617213: 3319,
 62033390: 3615,
 7929018: 3391,
 7188025: 3373,
 36440477: 3300,
 114871496: 3644,
 5131177: 3272,
 114837820: 3642,
 115019941: 3394,
 115009783: 3640,
 114772696: 3434,
 115089381: 3608,
 37988523: 3637,
 6951369: 3289,
 115319533: 3632,
 115383449: 3268,
 88073887: 3628,
 115663295: 3616,
 14688386: 3382,
 91132018: 3273,
 116774386: 3584,
 6555502: 3374,
 116815363: 3409,
 115707074: 3296,
 86095597: 3272,
 116852532: 3431,
 117049872: 3267,
 2977879: 3564,
 117315036: 3294,
 117343581: 3563,
 115406153: 3405,
 7152605: 3322,
 9113874: 3269,
 55820126: 3281,
 6640720: 3525,
 117697391: 3431,
 118029959: 3300,
 118192648: 3535,
 92773119: 3273,
 118206681: 3534,
 9271546: 3534,
 118339731: 3532,
 118458575: 3398,
 118529139: 3316,
 118766923: 3398,
 567378: 3285,
 14749089: 3354,
 8747606: 3294,
 119260066: 3516,
 119360417: 3513,
 115825622: 3508,
 8930114: 3273,
 14727986: 3283,
 1769546: 3270,
 120263951: 3283,
 120878315: 3479,
 120883052: 3479,
 120901057: 3479,
 11925782: 3266,
 6969106: 3321,
 121270615: 3470,
 84918083: 3265,
 1835113: 3460,
 37045473: 3450,
 121417087: 3449,
 122623416: 3303,
 116387908: 3430,
 116481702: 3392,
 123555996: 3424,
 123660566: 3285,
 123759080: 3420,
 5124882: 3376,
 123742497: 3369,
 117601881: 3415,
 63895796: 3280,
 123919694: 3414,
 124105111: 3387,
 84839955: 3412,
 124255759: 3344,
 10935522: 3405,
 124416871: 3407,
 124596106: 3361,
 124638228: 3403,
 122846220: 3292,
 124760604: 3394,
 124744638: 3403,
 124880004: 3401,
 124948692: 3288,
 125130846: 3397,
 124932408: 3394,
 120425824: 3390,
 6548196: 3374,
 6542830: 3374,
 9037737: 3373,
 126701123: 3371,
 50109708: 3368,
 127533725: 3363,
 127523533: 3363,
 128075544: 3272,
 128457552: 3348,
 5686412: 3296,
 128539515: 3316,
 128641006: 3299,
 128748052: 3341,
 479530: 3326,
 129778128: 3311,
 129732869: 3288,
 6072434: 3317,
 128513419: 3315,
 130085590: 3311,
 129503297: 3277,
 130812500: 3292,
 131224436: 3285,
 131258906: 3284,
 131832633: 3274,
 44863422: 3274,
 115709853: 3271,
 132144194: 3271,
 117495686: 3269,
 131844617: 3264,
 14686751: 3668,
 9402296: 3580,
 1678866: 3282,
 85200285: 3290,
 7838520: 3659,
 5046194: 3403,
 7096760: 3679,
 31813727: 3369,
 7296507: 3605,
 84921814: 3373,
 755093: 3306,
 42389536: 3539,
 87030808: 3288,
 85050266: 3294,
 50254321: 3266,
 113115: 3274,
 5764675: 3498,
 6247372: 3315,
 55757228: 3264,
 88158309: 3411,
 91158625: 3680,
 1912890: 3292,
 8517800: 3501,
 91340158: 3682,
 553493: 3622,
 439912: 3270,
 92735111: 3594,
 92800880: 3286,
 63708580: 3577,
 2111814: 3433,
 92916055: 3291,
 113139600: 3434,
 14780221: 3273,
 91015190: 3335,
 113582209: 3636,
 6699807: 3352,
 413072: 3522,
 10131450: 3278,
 91176136: 3637,
 113921829: 3636,
 6768691: 3292,
 9048543: 3278,
 9404705: 3659,
 1741610: 3653,
 114137526: 3276,
 6341820: 3494,
 113658682: 3534,
 114184498: 3286,
 114369888: 3328,
 36363411: 3648,
 14805850: 3393,
 85107450: 3647,
 91358300: 3366,
 23686348: 3539,
 91865: 3297,
 115109748: 3638,
 84448000: 3597,
 14828147: 3527,
 115197944: 3613,
 7875801: 3618,
 7431859: 3452,
 115741864: 3597,
 1604056: 3282,
 382870: 3605,
 116571510: 3590,
 63614081: 3349,
 116551925: 3338,
 116885246: 3579,
 116988750: 3416,
 116996693: 3449,
 115025753: 3574,
 117091252: 3325,
 117117209: 3571,
 117160867: 3569,
 117304015: 3287,
 117572264: 3481,
 117595149: 3553,
 117668314: 3552,
 828478: 3453,
 117929981: 3543,
 118176693: 3503,
 117642989: 3532,
 118639455: 3334,
 118648743: 3527,
 6391372: 3371,
 103566: 3521,
 114744165: 3511,
 85445666: 3506,
 6123606: 3504,
 119990822: 3334,
 120003653: 3488,
 120108193: 3447,
 6844897: 3363,
 120464255: 3304,
 118685357: 3343,
 121152079: 3418,
 121812286: 3443,
 73880555: 3301,
 122869733: 3282,
 123274495: 3430,
 123372868: 3428,
 121385938: 3426,
 123167509: 3281,
 28013: 3298,
 115079042: 3267,
 14732169: 3339,
 122653117: 3402,
 22798607: 3416,
 123964007: 3416,
 124207532: 3280,
 6089253: 3325,
 124622483: 3404,
 63469204: 3402,
 124873274: 3394,
 84767370: 3274,
 125794881: 3340,
 5082697: 3384,
 126012586: 3298,
 125270053: 3280,
 9406479: 3268,
 127226680: 3366,
 124995965: 3362,
 127673262: 3360,
 74059134: 3358,
 6236281: 3264,
 128381902: 3349,
 128425451: 3348,
 128485416: 3347,
 128841352: 3340,
 127121003: 3283,
 129073706: 3335,
 129202537: 3333,
 129431309: 3324,
 14765218: 3321,
 129810623: 3322,
 121694916: 3297,
 119725642: 3283,
 130170852: 3264,
 130192572: 3269,
 117185671: 3288,
 130445892: 3300,
 ...}

In [7]:
region=df.Last_region.unique()
state=df.Last_state.unique()
city=df.Last_city.unique()

In [8]:
total=df.Customer_Value.sum()
print(f"Total worth:::{total}")
region_perc={}
state_perc={}
city_perc={}
for r in region:
    temp=df[df.Last_region==r].Customer_Value.sum()
    region_perc[r]=temp*100/total

for s in state:
    temp=df[df.Last_state==s].Customer_Value.sum()
    state_perc[s]=temp*100/total
    
for c in city:
    temp=df[df.Last_city==c].Customer_Value.sum()
    city_perc[c]=temp*100/total

Total worth:::124997325.19922999

In [9]:
region_perc

{'East': 7.79865817106305,
 'North': 27.741557157371567,
 'South': 15.403798443055491,
 'West': 49.055986228509894}

In [10]:
state_perc

{'Andhra Pradesh': 1.4727268873120976,
 'Assam': 1.5573443694873497,
 'Bihar': 0.26064029568690883,
 'Chandigarh': 0.03276854039453664,
 'Chhattisgarh': 0.005322033883042627,
 'Delhi': 8.59124790110801,
 'Gujarat': 37.580001970017655,
 'Haryana': 0.14149862784510972,
 'Jammu and Kashmir': 0.00487930440933753,
 'Jharkhand': 0.24564941650598737,
 'Karnataka': 5.33009972360676,
 'Kerala': 0.10089696063414398,
 'Madhya Pradesh': 5.3474549287564885,
 'Maharashtra': 11.475984258492252,
 'Orissa': 0.15657303041329848,
 'Puducherry': 0.02241247959134135,
 'Punjab': 0.008827308090323819,
 'Rajasthan': 3.133209987587899,
 'Tamil Nadu': 4.6565896843813865,
 'Telangana': 3.8210727075297637,
 'Tripura': 0.018823602795098007,
 'Uttar Pradesh': 10.2959297038216,
 'Uttarakhand': 0.023845791061922354,
 'West Bengal': 5.716200486587706}

In [11]:
city_perc

{'Agartala': 0.018823602795098007,
 'Agra': 0.26893663713539273,
 'Ahmedabad': 6.063445935558859,
 'Aligarh': 0.02549894563679539,
 'Allahabad': 0.004467215591293627,
 'Ambattur': 0.055158778709950125,
 'Ambernath': 0.003868321975924799,
 'Asansol': 0.0030352649498322,
 'Aurangabad': 0.07717309058113689,
 'Bangalore': 5.242655533240458,
 'Baranagar': 0.015953861387205788,
 'Barasat': 0.004028002224827621,
 'Bareilly': 0.02814860233522561,
 'Begusarai': 0.020558839126389807,
 'Bhagalpur': 0.002230286924585466,
 'Bharatpur': 0.01590146026590531,
 'Bhatpara': 0.06354055966670338,
 'Bhilwara': 0.26006692501769035,
 'Bhiwandi': 0.003119186745624872,
 'Bhopal': 2.6077060638335,
 'Bhubaneswar': 0.029472314660559582,
 'Bikaner': 0.01582745708235513,
 'Chandigarh': 0.03276854039453664,
 'Chennai': 4.401183075047024,
 'Cuttack': 0.12710071575273893,
 'Davanagere': 0.00424393001333814,
 'Dehradun': 0.0012280270778221869,
 'Delhi': 8.581290408033531,
 'Dewas': 0.0040230786714714264,
 'Dhanbad': 0.1974523859663522,
 'Etawah': 0.008649785091614588,
 'Firozabad': 0.04930561506157706,
 'Gandhidham': 0.0016712357617816199,
 'Ghaziabad': 0.22684733337137575,
 'Gorakhpur': 0.01814022737195314,
 'Gulbarga': 0.006945747827933108,
 'Guntur': 0.0,
 'Gurgaon': 0.1262607017777787,
 'Guwahati': 1.5573443694873497,
 'Haridwar': 0.022617763984100165,
 'Howrah': 0.017802700949425664,
 'Hubballi-Dharwad': 0.05906438468369306,
 'Hyderabad': 3.806798401282361,
 'Ichalkaranji': 0.02858285242748546,
 'Indore': 2.516798460755686,
 'Jabalpur': 0.18148796435317438,
 'Jaipur': 2.8004136670770636,
 'Jamnagar': 0.07083719660310416,
 'Jamshedpur': 0.0028480601439477282,
 'Kanpur': 7.585685682351234,
 'Karawal Nagar': 0.00782944753769842,
 'Karimnagar': 0.005458516803559595,
 'Karnal': 0.002137645742211818,
 'Katihar': 0.046882842418104004,
 'Khammam': 0.0007832167595903331,
 'Kochi': 0.003866802743415644,
 'Kolkata': 5.573429513084426,
 'Kollam': 0.022695287242974347,
 'Korba': 0.0022291677006358573,
 'Kozhikode': 0.055571589143435456,
 'Kurnool': 0.0024908525002734854,
 'Loni': 0.04137912464731575,
 'Lucknow': 1.848145026453919,
 'Ludhiana': 0.008827308090323819,
 'Madurai': 0.10966269144681218,
 'Mathura': 0.07983281744705263,
 'Mau': 0.0057394828157844415,
 'Meerut': 0.03231717233597959,
 'Mira-Bhayandar': 0.1902720715190673,
 'Mirzapur': 0.003904883558284388,
 'Mumbai': 5.09091032503886,
 'Muzaffarnagar': 0.008925951001124888,
 'Mysore': 0.011362643142453015,
 'Nagercoil': 0.005092108963015802,
 'Nagpur': 1.690924638604203,
 'Nashik': 0.7371149672374556,
 'Navi Mumbai': 0.010617427996036636,
 'New Delhi': 0.002128045536782723,
 'Noida': 0.006583020866154254,
 'North Dumdum': 0.022835848650764438,
 'Pali': 0.00409488762406856,
 'Panihati': 0.005538520915520076,
 'Patna': 0.18510100166641433,
 'Pimpri-Chinchwad': 3.314577841826909,
 'Puducherry': 0.02241247959134135,
 'Purnia': 0.005867325551415223,
 'Raichur': 0.005827484698884479,
 'Raipur': 0.00309286618240677,
 'Rajkot': 3.641762020438851,
 'Rajpur Sonarpur': 0.001732837079951646,
 'Rampur': 0.007939207486386385,
 'Ranchi': 0.04534897039568747,
 'Rewa': 0.0244302827691133,
 'Saharanpur': 0.04548297326313525,
 'Salem': 0.024824771210537194,
 'Satna': 0.013009078373542806,
 'Sikar': 0.01173145103435408,
 'Siliguri': 0.008303377679048077,
 'Sonipat': 0.013100280325119208,
 'Sri Ganganagar': 0.025174139486461463,
 'Srinagar': 0.00487930440933753,
 'Surat': 24.81656485915836,
 'Thane': 0.23720413963052267,
 'Thiruvananthapuram': 0.010283100041951283,
 'Thoothukudi': 0.041887056316243905,
 'Thrissur': 0.008480181462367243,
 'Tirunelveli': 0.006833747831311691,
 'Tirupati': 0.014800316703188113,
 'Tiruvottiyur': 0.011947454856491598,
 'Ulhasnagar': 0.00566732127164241,
 'Vadodara': 2.985720722496701,
 'Vasai-Virar': 0.08595207363738198,
 'Vijayawada': 0.39473004819389484,
 'Visakhapatnam': 1.042271195446369,
 'Vizianagaram': 0.01843447446837202,
 'Warangal': 0.008032572684252809}

In [13]:
state_count={}
city_count={}
state_avg_purchase={}
city_avg_purchase={}

total_count=df.Customer_ID.count()
total_purchase=df.Buy_Times.sum()

In [17]:
for s in state:
    temp=df[df.Last_state==s].Customer_ID.count()
    state_count[s]=temp
    temp=df[df.Last_state==s].Buy_Times.sum()
    state_avg_purchase[s]=temp*100/total_purchase
    
for c in city:
    temp=df[df.Last_city==c].Customer_ID.count()
    city_count[c]=temp
    temp=df[df.Last_city==c].Buy_Times.sum()
    city_avg_purchase[c]=temp*100/total_purchase

In [18]:
state_count

{'Andhra Pradesh': 142,
 'Assam': 30,
 'Bihar': 25,
 'Chandigarh': 6,
 'Chhattisgarh': 2,
 'Delhi': 1037,
 'Gujarat': 3378,
 'Haryana': 3,
 'Jammu and Kashmir': 1,
 'Jharkhand': 27,
 'Karnataka': 645,
 'Kerala': 10,
 'Madhya Pradesh': 421,
 'Maharashtra': 1211,
 'Orissa': 7,
 'Puducherry': 1,
 'Punjab': 3,
 'Rajasthan': 309,
 'Tamil Nadu': 621,
 'Telangana': 388,
 'Tripura': 3,
 'Uttar Pradesh': 1167,
 'Uttarakhand': 2,
 'West Bengal': 561}

In [19]:
state_avg_purchase

{'Andhra Pradesh': 1.4221556886227544,
 'Assam': 1.5207390097853075,
 'Bihar': 0.29027311231196146,
 'Chandigarh': 0.04381480940557909,
 'Chhattisgarh': 0.010953702351394772,
 'Delhi': 9.61735066452461,
 'Gujarat': 34.44026580984373,
 'Haryana': 0.14239813056813203,
 'Jammu and Kashmir': 0.007302468234263181,
 'Jharkhand': 0.2282021323207244,
 'Karnataka': 5.993500803271505,
 'Kerala': 0.13692127939243465,
 'Madhya Pradesh': 4.972980867533226,
 'Maharashtra': 12.145830290638235,
 'Orissa': 0.1478749817438294,
 'Puducherry': 0.01643055352709216,
 'Punjab': 0.020081787644223748,
 'Rajasthan': 2.8224039725427192,
 'Tamil Nadu': 5.175624361034029,
 'Telangana': 4.284723236453922,
 'Tripura': 0.029209872937052725,
 'Uttar Pradesh': 10.354899956185191,
 'Uttarakhand': 0.014604936468526362,
 'West Bengal': 6.161457572659559}

In [20]:
city_count

{'Agartala': 3,
 'Agra': 13,
 'Ahmedabad': 621,
 'Aligarh': 9,
 'Allahabad': 2,
 'Ambattur': 10,
 'Ambernath': 1,
 'Asansol': 1,
 'Aurangabad': 4,
 'Bangalore': 631,
 'Baranagar': 2,
 'Barasat': 1,
 'Bareilly': 3,
 'Begusarai': 1,
 'Bhagalpur': 1,
 'Bharatpur': 1,
 'Bhatpara': 4,
 'Bhilwara': 3,
 'Bhiwandi': 1,
 'Bhopal': 253,
 'Bhubaneswar': 4,
 'Bikaner': 1,
 'Chandigarh': 6,
 'Chennai': 592,
 'Cuttack': 3,
 'Davanagere': 1,
 'Dehradun': 1,
 'Delhi': 1034,
 'Dewas': 1,
 'Dhanbad': 18,
 'Etawah': 1,
 'Firozabad': 4,
 'Gandhidham': 1,
 'Ghaziabad': 27,
 'Gorakhpur': 4,
 'Gulbarga': 2,
 'Guntur': 1,
 'Gurgaon': 1,
 'Guwahati': 30,
 'Haridwar': 1,
 'Howrah': 3,
 'Hubballi-Dharwad': 9,
 'Hyderabad': 385,
 'Ichalkaranji': 2,
 'Indore': 157,
 'Jabalpur': 8,
 'Jaipur': 301,
 'Jamnagar': 6,
 'Jamshedpur': 1,
 'Kanpur': 854,
 'Karawal Nagar': 2,
 'Karimnagar': 1,
 'Karnal': 1,
 'Katihar': 2,
 'Khammam': 1,
 'Kochi': 1,
 'Kolkata': 543,
 'Kollam': 1,
 'Korba': 1,
 'Kozhikode': 5,
 'Kurnool': 1,
 'Loni': 10,
 'Lucknow': 219,
 'Ludhiana': 3,
 'Madurai': 13,
 'Mathura': 6,
 'Mau': 1,
 'Meerut': 7,
 'Mira-Bhayandar': 1,
 'Mirzapur': 1,
 'Mumbai': 416,
 'Muzaffarnagar': 2,
 'Mysore': 1,
 'Nagercoil': 1,
 'Nagpur': 247,
 'Nashik': 96,
 'Navi Mumbai': 3,
 'New Delhi': 1,
 'Noida': 1,
 'North Dumdum': 3,
 'Pali': 1,
 'Panihati': 1,
 'Patna': 20,
 'Pimpri-Chinchwad': 416,
 'Puducherry': 1,
 'Purnia': 1,
 'Raichur': 1,
 'Raipur': 1,
 'Rajkot': 235,
 'Rajpur Sonarpur': 2,
 'Rampur': 1,
 'Ranchi': 8,
 'Rewa': 1,
 'Saharanpur': 2,
 'Salem': 1,
 'Satna': 1,
 'Sikar': 1,
 'Siliguri': 1,
 'Sonipat': 1,
 'Sri Ganganagar': 1,
 'Srinagar': 1,
 'Surat': 2127,
 'Thane': 8,
 'Thiruvananthapuram': 2,
 'Thoothukudi': 1,
 'Thrissur': 1,
 'Tirunelveli': 2,
 'Tirupati': 2,
 'Tiruvottiyur': 1,
 'Ulhasnagar': 1,
 'Vadodara': 388,
 'Vasai-Virar': 15,
 'Vijayawada': 20,
 'Visakhapatnam': 117,
 'Vizianagaram': 1,
 'Warangal': 1}

In [21]:
city_avg_purchase

{'Agartala': 0.029209872937052725,
 'Agra': 0.2920987293705272,
 'Ahmedabad': 6.418869577917336,
 'Aligarh': 0.06572221410836863,
 'Allahabad': 0.012779319409960566,
 'Ambattur': 0.09858332116255294,
 'Ambernath': 0.009128085292828976,
 'Asansol': 0.005476851175697386,
 'Aurangabad': 0.0785015335183292,
 'Bangalore': 5.849277055644808,
 'Baranagar': 0.012779319409960566,
 'Barasat': 0.0036512341171315906,
 'Bareilly': 0.021907404702789544,
 'Begusarai': 0.01643055352709216,
 'Bhagalpur': 0.005476851175697386,
 'Bharatpur': 0.014604936468526362,
 'Bhatpara': 0.0766759164597634,
 'Bhilwara': 0.05659412881553965,
 'Bhiwandi': 0.005476851175697386,
 'Bhopal': 2.7931940996056666,
 'Bhubaneswar': 0.052942894698408065,
 'Bikaner': 0.029209872937052725,
 'Chandigarh': 0.04381480940557909,
 'Chennai': 4.857966992843581,
 'Cuttack': 0.09493208704542135,
 'Davanagere': 0.009128085292828976,
 'Dehradun': 0.0036512341171315906,
 'Delhi': 9.597268876880385,
 'Dewas': 0.005476851175697386,
 'Dhanbad': 0.1570030670366584,
 'Etawah': 0.01643055352709216,
 'Firozabad': 0.04929166058127647,
 'Gandhidham': 0.0036512341171315906,
 'Ghaziabad': 0.32495983642471155,
 'Gorakhpur': 0.020081787644223748,
 'Gulbarga': 0.014604936468526362,
 'Guntur': 0.005476851175697386,
 'Gurgaon': 0.11501387468964511,
 'Guwahati': 1.5207390097853075,
 'Haridwar': 0.010953702351394772,
 'Howrah': 0.023733021761355336,
 'Hubballi-Dharwad': 0.09675770410398715,
 'Hyderabad': 4.257338980575435,
 'Ichalkaranji': 0.040163575288447495,
 'Indore': 2.026434935008033,
 'Jabalpur': 0.12779319409960566,
 'Jaipur': 2.6800058419745874,
 'Jamnagar': 0.11136264057251351,
 'Jamshedpur': 0.0036512341171315906,
 'Kanpur': 7.727837008909011,
 'Karawal Nagar': 0.014604936468526362,
 'Karimnagar': 0.010953702351394772,
 'Karnal': 0.0036512341171315906,
 'Katihar': 0.04198919234701329,
 'Khammam': 0.0036512341171315906,
 'Kochi': 0.005476851175697386,
 'Kolkata': 5.993500803271505,
 'Kollam': 0.031035489995618518,
 'Korba': 0.005476851175697386,
 'Kozhikode': 0.07119906528406601,
 'Kurnool': 0.007302468234263181,
 'Loni': 0.08215276763546078,
 'Lucknow': 1.5134365415510442,
 'Ludhiana': 0.020081787644223748,
 'Madurai': 0.13509566233386885,
 'Mathura': 0.08945523586972397,
 'Mau': 0.007302468234263181,
 'Meerut': 0.05659412881553965,
 'Mira-Bhayandar': 0.16430553527092157,
 'Mirzapur': 0.005476851175697386,
 'Mumbai': 4.469110559369066,
 'Muzaffarnagar': 0.01643055352709216,
 'Mysore': 0.012779319409960566,
 'Nagercoil': 0.007302468234263181,
 'Nagpur': 2.309405579085731,
 'Nashik': 0.9803563604498321,
 'Navi Mumbai': 0.020081787644223748,
 'New Delhi': 0.005476851175697386,
 'Noida': 0.010953702351394772,
 'North Dumdum': 0.01825617058565795,
 'Pali': 0.007302468234263181,
 'Panihati': 0.012779319409960566,
 'Patna': 0.21907404702789543,
 'Pimpri-Chinchwad': 3.631152329487367,
 'Puducherry': 0.01643055352709216,
 'Purnia': 0.007302468234263181,
 'Raichur': 0.010953702351394772,
 'Raipur': 0.005476851175697386,
 'Rajkot': 3.726084416532788,
 'Rajpur Sonarpur': 0.007302468234263181,
 'Rampur': 0.007302468234263181,
 'Ranchi': 0.06754783116693443,
 'Rewa': 0.0036512341171315906,
 'Saharanpur': 0.03468672411275011,
 'Salem': 0.040163575288447495,
 'Satna': 0.01643055352709216,
 'Sikar': 0.009128085292828976,
 'Siliguri': 0.007302468234263181,
 'Sonipat': 0.023733021761355336,
 'Sri Ganganagar': 0.025558638819921133,
 'Srinagar': 0.007302468234263181,
 'Surat': 21.04023659997079,
 'Thane': 0.28114502701913247,
 'Thiruvananthapuram': 0.021907404702789544,
 'Thoothukudi': 0.01643055352709216,
 'Thrissur': 0.007302468234263181,
 'Tirunelveli': 0.009128085292828976,
 'Tirupati': 0.021907404702789544,
 'Tiruvottiyur': 0.010953702351394772,
 'Ulhasnagar': 0.009128085292828976,
 'Vadodara': 3.1400613407331677,
 'Vasai-Virar': 0.1478749817438294,
 'Vijayawada': 0.3687746458302906,
 'Visakhapatnam': 0.9967869139769242,
 'Vizianagaram': 0.021907404702789544,
 'Warangal': 0.012779319409960566}